/*#pagecontent {
  width: 970px;
}*/
body {
  min-height: 2000px;
  padding-top: 150px;
}

#main-alert-container {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  min-height: 70px;
  z-index: 1030;
  margin: 10px;
}

/******************************************************************************/
/** Dashboard Tab *************************************************************/
/******************************************************************************/
.status-panel {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0px 6px 6px 6px;
}
.status-panel:hover {
  box-shadow:0 0 20px rgba(0,0,0,0.25);
  padding-top:5px;
}
.status-panel-active {
  background-color: #dff0d8;
  color: #468847;
}
.status-panel-inactive {
  background-color: #f2dede;
  color: #b94a48;
}
.status-panel-icon {
  margin-top:20px;  
}

.status-panel-link {}

.bordered-panel {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

/******************************************************************************/
/** Store Catalogue Tab *******************************************************/
/******************************************************************************/
/* store-catalogue-search-panel */
#store-catalogue-search-panel {  
  padding: 5px;
  margin-bottom: 5px;
}

/* Store Catalogue Filter Box */
#store-catalogue-filter-box {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  
  padding: 5px;
  margin-bottom: 5px;
}

#pagination-panel {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  
  padding: 5px;
  margin-bottom: 5px;
}

/* Store Catalogue Listing Head of Table */
#head-store-catalogue, #head-ebay-catalogue {
  background-color: #e7e7e7;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 60px;
  padding: 5px;
}

.sort-field-descending:hover:after {
  font-family:fontAwesome;
  content:'\00a0\f0d7';
  color:black;
}

.sort-field-ascending:hover:after {
  font-family:fontAwesome;
  content:'\00a0\f0d8';
  color:black;
}

div .catalogue-item {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
  padding: 5px;
  height: 75px;
}

div .catalogue-item:hover {
  background-color: rgb(253, 254, 253);
}

.selected-item {
  background-color: rgb(253, 254, 253);
}


#head-store-catalogue div {
  font-weight: bold;
}

.catalogue-item img {
  max-height: 65px;
}

.ghost {
  color: #aaa;
}

.dropdown-menu {
  text-align: left;
}

#pagination-panel {
  background-color: #e7e7e7;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
  padding: 5px;
}

.pagination {
  margin: 0px;
}

/* The item details slide out panel */
#item-details-panel {
  border: 1px solid #ccc;
  height: 100%
}

#item-details-head {
  background-color: #e7e7e7;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
  
  margin-bottom: 5px;
  
  min-height:40px;
  
  padding: 5px;
}

#item-details-head span {
  font-weight: bold;
}

div .controls {
  padding-bottom: 2px;
}

.controls input {
  height: 26px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/******************************************************************************/
/** Locations Panel               *********************************************/
/******************************************************************************/

/******************************************************************************/
/** Data Mappings Panel           *********************************************/
/******************************************************************************/
td.required:after { 
   content:" *";
   color:red;
}

/******************************************************************************/
/** Orders Panel                  *********************************************/
/******************************************************************************/
#order-list-header {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #DDD;
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
}

.order-list-order {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #DDD;
  padding: 3px;
  font-size: 11px;
  min-height: 90px;
}

.order-detail-lineitem-title {
  font-weight: bold;
  font-size: 11px;
  font-family: verdana,arial,helvetica,sans-serif;
}

.order-detail-sellerid {
  padding-top: 8px
}

/******************************************************************************/
/** Common Across Multiple Panels *********************************************/
/******************************************************************************/
.form-group.required label:after { 
   content:" *";
   color:red;
}

.tab-content {padding-top: 20px;}


